body {
  background-color: palevioletred;
  padding: 20%;
  color: aliceblue;
}
.txt {
  text-align: center;
}
.frm {
  text-align: center;
}

input[type="text"] {
  background-color: palevioletred;

  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: antiquewhite;
  color: aliceblue;
}
#mybut2:hover {
  cursor: pointer;
}

#mybut2 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: palevioletred;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#mybut2:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
